# Base de datos PostgreSQL (Neon, Supabase, o local)
DATABASE_URL=

# Clerk - Autenticación
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# OpenRouteService - Cálculo de rutas para fecha estimada de entrega
ORS_API_KEY=

#API key para la API interna de la aplicacion, utilizada para autenticación en servicios internos
INTERNAL_API_KEY=

# Clave de API para la app de buyers
BUYER_SECRET=
